@model PriceComparison.Code.Broker
﻿<!--background color: #b1e7fa-->
<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>השוואת מחירי ביטוח - ידע שווה כסף</title>
    <meta name="description" content="קבלו את הביטוח המותאם ביותר לצרכים שלכם במחיר משתלם במיוחד. השוואת מחירי ביטוח נסיעות לחול - ידע שווה כסף" />
    <meta name="keywords" content="ביטוח, ביטוח נסיעות, השוואת מחירים, נסיעות לחול , ידע שווה כסף, השוואת מחירי ביטוח" />
    <link rel="icon" href="~/Resources/Images/logo-black-left.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="Styles/Style.css?v=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <!-- Add any additional CSS files or styles here -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EM49F21GMN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-EM49F21GMN');
    </script>

    <meta property="og:title" content="השוואת מחירי ביטוח - ידע שווה כסף" />
    <meta property="og:description" content="קבלו את הביטוח המותאם ביותר לצרכים שלכם במחיר משתלם במיוחד. השוואת מחירי ביטוח נסיעות לחול - @Model.BrokerName" />
    <meta property="og:image" content="~/Resources/Images/logo-black-left.png" />
    <meta property="og:url" content="https://travelinsurance.ysc-ins.co.il/" />


</head>

<body>
    <div class="container-fluid">
        <div class="row h-100 g-0 d-flex" id="headerRow" style="position: relative;">
            <div class="col-md-8 g-0" id="right-img-bg">
                <div class="row align-items-center">
                    @* <div id="navbarItems">
                    <ul class="nav justify-content-right">
                    <li class="nav-item">
                    <a class="nav-link active" href="#">דף הבית</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">למה דווקא אנחנו</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">הביטוחים שלנו</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">יצירת קשר</a>
                    </li>
                    </ul>
                    </div> *@

                    <!-- Text Section -->
                    <div class="col-12" id="mainDesciption">
                        <h2>
                            <span class="section-title" id="FirstTitle"> ביטוח נסיעות לחו"ל עושים עם </span>
                            <br />
                            <span class="section-subtitle" id="nameTitle">  מומחה שמבין את הצרכים שלכם!</span>
                        </h2>
                        <br />

                        <p class="description">
                            <span id="headerSubtitle1"> כמו תמיד, דאגתי לביטוח הטוב והמותאם ביותר במיוחד עבורכם – עם כיסוי מקיף <br />ושקט נפשי בכל נסיעה, ובמחיר המשתלם ביותר.</span>
                            <br />
                            <br />
                            <span id="headerSubtitle2">
                                הצטרפו עכשיו וגלו את השקט הנפשי שבלנסוע בידיעה שאתם מכוסים!
                            </span>
                        </p>
                        <div id="headerButtons">
                            <a href="#headingOne" class="btn btn-outline-light btn-lg">שאלות נפוצות</a>
                            <a href="#scrollCheckpoint" class="btn btn-outline-light btn-lg">השוואת מחירים</a>
                        </div>
                        <!-- Broker Section -->
                        <div class="row mt-5 align-items-center" id="broker-info">
                            
                            <div class="col-md-8 text-right section-subtitle">
                                <h3 class="broker-details">@Model.BrokerName</h3>
                                <p class="broker-details">
                                    <strong>אימייל:</strong> <a href="mailto:@Model.BrokerEmail">@Model.BrokerEmail</a><br>
                                    <strong>טלפון:</strong> <a href="tel:@Model.BrokerPhone">@Model.BrokerPhone</a>
                                </p>
                            </div>
                            <div class="col-md-4 text-center">
                                <img src=@Model.PictureLocation alt="Broker Image" class="broker-img img-fluid rounded-circle">
                            </div>
                        </div>

                    </div>
                </div>


            </div>

            <div class="col-md-4 g-0 d-flex">
                <img class="card-img-top img-fluid img-thumbnail" src="Resources/Images/01-1.png" alt="Header Image" />
            </div>

        </div>


        <div class="row h-100" id="marketing-row">
            <div class="container text-center mt-5">
                <h2 class="section-title" id="whyusTitle">אז למה בעצם לבחור בי?</h2>
                <p class="section-description" id="whyUsParagraph">
                    דרך מנוע ההשוואה שלי תחסכו זמן יקר באיתור ההצעות השונות לביטוח נסיעות לחו"ל והכל נעשה בשקיפות מלאה והצגת כל ההצעות במקום אחד.
                </p>

                <div class="row mt-5">
                    <!-- First column is offset, skipping it -->
                    <div class="col-md-3"></div>

                    <!-- Price Div in the center -->
                    <div class="col-md-3 text-right mb-3" id="priceDiv">
                        <img src="Resources/Images/Group279.png" alt="Price" class="icon">
                        <h4 class="feature-title secondaryTitle">מחיר</h4>
                        <p class="feature-description WhyUsDescription">
                            עם גישה אישית לשירותי ביטוח, אני מבטיח לכם את המחירים המשתלמים ביותר עבור הביטוחים הדרושים לכם. בזכות שיתוף הפעולה שלי עם קהילת "ידע שווה כסף", לקוחותיי נהנים מהנחות מיוחדות ואטרקטיביות שאי אפשר למצוא במקומות אחרים.
                        </p>
                    </div>

                    <!-- Service Div -->
                    <div class="col-md-3 offset-md-3 text-left" id="serviceDiv">
                        <img src="Resources/Images/Group280.png" alt="Service" class="icon">
                        <h4 class="feature-title secondaryTitle">שירות</h4>
                        <p class="feature-description WhyUsDescription">
                            בתוך דקות ספורות תוכלו להשוות במספר חברות ביטוח בתהליך דיגיטלי פשוט וקל שבסופו תקבלו את ההצעה המשתלמת ביותר עבורכם.
                        </p>
                    </div>
                </div>

                
            </div>
        </div>



        <div class="row h-100" id="right-img-bg">
            <div class="container text-center mt-5" id="scrollCheckpoint">
                <h2 class="section-title" id="travelHeader">הידע שלנו, ההשוואה שלכם</h2>
                <p class="section-description" id="travelParagraph">
                     השוואת מחירי ביטוחי טיסות מעולם לא הייתה קלה יותר.
                    כל מה שצריך זה להיכנס, לבחור את האפשרויות שמתאימות לך, ולקבל מבצעים מותאמים אישית.
                    תוך רגע, תוכלו לראות את כל ההצעות המשתלמות ביותר
                    ולבחור את הביטוח המושלם עבורך בקלות ובמהירות.
                </p>
                <!-- Row to align number input and datalist horizontally -->
                <div class="row mb-3" id="globalInputs">
                    <div class="col-md-4"> </div>





                    <div class="col-lg-2 h-100">
                        <label for="numberInput" class="form-label">מספר ימים בחו"ל</label>
                        <div class="input-group">
                            <input type="number" class="form-control form-control-lg" id="numberInput" value="4" min="1" max="180">
                        </div>
                    </div>
                    <div class="col-lg-2 offset-md-4">
                        <label for="destinationSelect" class="form-label">לאן טסים</label>
                        <select class="form-control form-control-lg" id="destinationSelect">
                            <option value="אירופה">אירופה</option>
                            <option value="ארצות הברית">ארצות הברית</option>
                            <option value="קנדה">קנדה</option>
                            <option value="אסיה">אסיה</option>
                            <option value="מרכז אמריקה">מרכז אמריקה</option>
                            <option value="דרום אמריקה">דרום אמריקה</option>
                            <option value="אוסטרליה">אוסטרליה</option>
                            <option value="אפריקה">אפריקה</option>
                        </select>
                    </div>



                </div>

                <div class=" mx-auto col-xl-3">
                    @* <button id="addFormButton" type="button" class="btn btn-primary ">הוסף נוסע</button> *@
                    <button id="addFormButton" type="button" class="btn-add-passenger">הוסף נוסע</button>
                </div>




                <!-- Container to hold multiple forms -->
                <div id="formsContainer" class="mb-5 col-lg-6 mx-auto">
                    <!-- Form -->
                    <div class="form-container mb-5" id="form">
                        <form>
                            <div class="mb-3 col-md-3">
                                <label for="age" class="form-label">גיל</label>
                                <input type="number"
                                       class="form-control form-control-xl"
                                       id="age"
                                       value="30" min="0" max="95" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label passenger-label">נוסע/ת 1</label>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-12">
                                    <div class="form-check form-check-reverse">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               id="checkbox1"
                                               checked disabled />
                                        <label class="form-check-label" for="checkbox1">
                                            הוצאות רפואיות בחו"ל
                                        </label>
                                    </div>
                                    <div class="form-check form-check-reverse">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               id="checkbox2" />
                                        <label class="form-check-label" for="checkbox2">
                                            איתור וחילוץ
                                        </label>
                                    </div>
                                    <div class="form-check form-check-reverse">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               id="checkbox3" />
                                        <label class="form-check-label" for="checkbox3">
                                            ביטול/קיצור נסיעה
                                        </label>
                                    </div>
                                    <div class="form-check form-check-reverse">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               id="checkbox4" />
                                        <label class="form-check-label" for="checkbox4">
                                            כבודה
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-12">
                                    <div class="form-check form-check-reverse">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               id="checkbox5" />
                                        <label class="form-check-label" for="checkbox5">
                                            טלפון סלולרי
                                        </label>
                                    </div>
                                    <div class="form-check form-check-reverse">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               id="checkbox6" />
                                        <label class="form-check-label" for="checkbox6">
                                            מחשב נייד/טאבלט
                                        </label>
                                    </div>


                                    <div class="form-check form-check-reverse">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               id="checkbox7" />
                                        <label class="form-check-label" for="checkbox7">
                                            ספורט אתגרי
                                        </label>
                                    </div>
                                    <div class="form-check form-check-reverse">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               id="checkbox8" />
                                        <label class="form-check-label" for="checkbox8">
                                            ספורט חורף
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </form>

                        <div class="mt-3 text-end">
                            <button type="button" class="btn btn-warning" id="delete">מחק נוסע</button>
                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2 col-6 mb-4 ">
                        <div class="card h-200">
                            <img src="Resources/Images/pheonix.jpg" class="card-img-top img-fluid img-thumbnail company-card" alt="pheonix logo" loading="lazy">
                            <div class="card-body">

                                <h6 class="fullPolicyTitle">פירוט ביטוח מלא:</h6>
                                <ul class="feature-list fullPolicyList">
                                    <li id="PhenixDays">4 ימים</li>
                                    <li id="PhenixPassengers"> &#x202B;נוסע 1&#x202C;</li>
                                    <li id="PhenixPerDay">2$ ליום בממוצע</li>
                                </ul>
                                <div class="row">
                                    <div class="col-5 priceTitle">עלות משוערת:</div>
                                    <div class="col-12 col-md-7 priceTag" id="Phenix">8$</div>
                                </div>
                                <a href=@Model.FNXURL class="btn btn-primary container" target="_blank" name="פניקס">לרכישה</a>
                                <p class="priceDisclamer">
                                    ט.ל.ח המחירים באתר עשויים להשתנות בהתאם למצב הביטוחים וההצעות הזמינות.
                                    השוק דינמי, ולכן חשוב לבדוק באופן קבוע את המחירים והאפשרויות, כדי להבטיח שתקבלו את ההצעה הטובה ביותר עבורכם בזמן נתון.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-6 mb-4 ">
                        <div class="card h-200">
                            <img src="Resources/Images/pasportCard.png" class="card-img-top img-fluid img-thumbnail company-card" alt="pasport card logo" loading="lazy">
                            <div class="card-body">

                                <h6 class="fullPolicyTitle">פירוט ביטוח מלא:</h6>
                                <ul class="feature-list fullPolicyList">
                                    <li id="CardPassportDays">4 ימים</li>
                                    <li id="CardPassportPassengers"> &#x202B;נוסע 1&#x202C;</li>
                                    <li id="CardPassportPerDay">2.5$ ליום בממוצע</li>
                                </ul>
                                <div class="row">
                                    <div class="col-5 priceTitle">עלות משוערת:</div>
                                    <div class="col-12 col-md-7 priceTag" id="CardPassport">10$</div>
                                </div>

                                <a href= @Model.PassportcardURL class="btn btn-primary container" target="_blank" name="פספורט קארד">לרכישה</a>
                                <p class="priceDisclamer">
                                    ט.ל.ח המחירים באתר עשויים להשתנות בהתאם למצב הביטוחים וההצעות הזמינות.
                                    השוק דינמי, ולכן חשוב לבדוק באופן קבוע את המחירים והאפשרויות, כדי להבטיח שתקבלו את ההצעה הטובה ביותר עבורכם בזמן נתון.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-6 mb-4">
                        <div class="card h-200">
                            <img src="Resources/Images/Nmigdal.png" class="card-img-top img-fluid img-thumbnail company-card" alt="migdal logo" loading="lazy">
                            <div class="card-body">

                                <h6 class="fullPolicyTitle">פירוט ביטוח מלא:</h6>
                                <ul class="feature-list fullPolicyList">
                                    <li id="MigdalDays">4 ימים</li>
                                    <li id="MigdalPassengers"> &#x202B;נוסע 1&#x202C;</li>
                                    <li id="MigdalPerDay">1.8$ ליום בממוצע</li>
                                </ul>

                                <div class="row">
                                    <div class="col-5 priceTitle">עלות משוערת:</div>
                                    <div class="col-12 col-md-7 priceTag" id="Migdal">7.2$</div>
                                </div>


                                <a href=@Model.MigdalURL class="btn btn-primary container" target="_blank" name="מגדל">לרכישה</a>
                                <p class="priceDisclamer">
                                    ט.ל.ח המחירים באתר עשויים להשתנות בהתאם למצב הביטוחים וההצעות הזמינות.
                                    השוק דינמי, ולכן חשוב לבדוק באופן קבוע את המחירים והאפשרויות, כדי להבטיח שתקבלו את ההצעה הטובה ביותר עבורכם בזמן נתון.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-6 mb-4">
                        <div class="card h-200">
                            <img src="Resources/Images/harel.webp" class="card-img-top img-fluid img-thumbnail company-card" alt="harel logo" loading="lazy">
                            <div class="card-body">

                                <h6 class="fullPolicyTitle">פירוט ביטוח מלא:</h6>
                                <ul class="feature-list fullPolicyList">
                                    <li id="HarelDays">4 ימים</li>
                                    <li id="HarelPassengers"> &#x202B;נוסע 1&#x202C;</li>
                                    <li id="HarelPerDay">2$ ליום בממוצע</li>
                                </ul>

                                <div class="row">
                                    <div class="col-5 priceTitle">עלות משוערת:</div>
                                    <div class="col-12 col-md-7 priceTag" id="Harel">8$</div>
                                </div>


                                <a href=@Model.HarelURL class="btn btn-primary container" target="_blank" name="הראל">לרכישה</a>
                                <p class="priceDisclamer">
                                    ט.ל.ח המחירים באתר עשויים להשתנות בהתאם למצב הביטוחים וההצעות הזמינות.
                                    השוק דינמי, ולכן חשוב לבדוק באופן קבוע את המחירים והאפשרויות, כדי להבטיח שתקבלו את ההצעה הטובה ביותר עבורכם בזמן נתון.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>










        </div>
        <div id="questionsAndAnswers" class="accordion accordion-flush mt-5">
            <h2 class="section-title text-center mb-4" id="travelHeader"> שאלות נפוצות</h2>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        מה זה בכלל ביטוח נסיעות לחו''ל?

                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#questionsAndAnswers">
                    <div class="accordion-body">
                        ביטוח נסיעות לחו"ל כולל שני כיסויים עיקריים: כיסוי רפואי – המעניק מענה במקרה של מחלה או מצב חירום רפואי, וכולל כיסוי לטיפולים רפואיים בזמן שהותכם בחו"ל. כיסוי למטען וכבודה – מספק הגנה במקרה של אובדן, גניבה או נזק למזוודות שלכם.
                        בנוסף, קיימים כיסויים נוספים שניתן לרכוש בהתאם לצרכים האישיים, כגון כיסוי למכשיר הנייד או למחשב הנייד, וכן כיסויים מיוחדים למקרים כמו טיול אקסטרים. לכן, חשוב להגדיר במדויק את הצרכים שלכם ולבחור ביטוח שמתאים לאופי הנסיעה שלכם.
                        .
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        מה ההבדל בין ביטוח נסיעות לחו"ל מחברות הביטוח לביטוח נסיעות שמקבלים חינם מחברות כרטיסי האשראי?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#questionsAndAnswers">
                    <div class="accordion-body">
                        ההבדל בין ביטוח נסיעות לחו"ל שמוצע על ידי חברות הביטוח לבין זה שמתקבל בחינם דרך חברות כרטיסי האשראי טמון בעיקר בהיקף הכיסויים ובתנאים הנלווים: <br />
                        היקף הכיסוי: ביטוח שמוצע על ידי חברות ביטוח כולל לרוב כיסויים רחבים יותר, כמו טיפולים רפואיים מקיפים, כיסוי למטען, ביטול טיסה, טיפולי חירום ועוד. ביטוח חינמי מכרטיסי האשראי מספק לרוב כיסוי רפואי בסיסי בלבד, ולעיתים נדרש לשדרג בתשלום עבור כיסויים נוספים. <br />
                        סכומי הכיסוי: בביטוח מחברות הביטוח, סכומי הכיסוי יכולים להיות גבוהים יותר ומותאמים לצרכים האישיים. בביטוח חינמי מכרטיסי האשראי, הכיסוי מוגבל לסכומים קטנים יחסית. <br />
                        התאמה אישית: ביטוח מחברות הביטוח מאפשר התאמה מדויקת לפי סוג הנסיעה (נסיעות עבודה, טיולי אקסטרים, כיסוי לנכסים יקרים כמו מחשב נייד). בביטוח חינמי מכרטיסי האשראי אין אפשרות להתאים את הכיסויים למאפייני הנסיעה.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        מה כלול בכיסוי הרפואי?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#questionsAndAnswers">
                    <div class="accordion-body">
                        כיסוי רפואי בביטוח נסיעות לחו"ל כולל מגוון של שירותים והוצאות רפואיות במקרים של מחלה או פציעה בזמן שהותכם בחו"ל. הנה מה שבדרך כלל כלול בכיסוי הרפואי: <br />

                        1.הוצאות טיפול רפואי: כיסוי להוצאות עבור ביקורים אצל רופאים, טיפול חירום, בדיקות רפואיות, וטיפולים רפואיים הנדרשים בעקבות מחלה או פציעה פתאומית. <br />

                        2. אשפוז בבית חולים: מימון הוצאות אשפוז בבית חולים, כולל חדרי ניתוח, טיפולי חירום והוצאות רפואיות נלוות. <br />

                        3. תרופות מרשם: כיסוי להוצאות עבור תרופות מרשם שנדרשו כתוצאה מאירוע רפואי בזמן השהות בחו"ל. <br />

                        4. טיפולי חירום שיניים: חלק מהביטוחים כוללים כיסוי עבור טיפולי שיניים במקרי חירום, כמו שבר בשן או זיהום חמור. <br />

                        5. פינוי רפואי: במקרה של צורך בטיפול רפואי דחוף, הכיסוי עשוי לכלול פינוי לבית חולים קרוב, כולל פינוי אווירי במקרים חמורים. <br />

                        6. הטסה רפואית לישראל: אם יש צורך בהחזרת המבוטח לישראל להמשך טיפול, הכיסוי יכלול הוצאות עבור הטסה רפואית מלווה. <br />

                        7. כיסוי למקרים חמורים: בחלק מהפוליסות יש גם כיסוי במקרים של תאונות חמורות, טיפולים מתמשכים, או אפילו פינוי גופה במקרה של מוות. <br />

                        8. טיפול במחלות קיימות: בחלק מהפוליסות יש כיסוי גם למחלות קיימות מראש (בהתאם לתנאי הפוליסה), אך לרוב יש צורך בהרחבה או שדרוג לכיסוי זה. <br />

                        חשוב לבדוק את תנאי הפוליסה ולהבין מה בדיוק כלול, משום שכל חברת ביטוח יכולה להציע תנאים שונים או מגבלות על הכיסוי.
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        מה זה חבות צד שלישי בביטוח נסיעות?


                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#questionsAndAnswers">
                    <div class="accordion-body">
                        חבות צד שלישי בביטוח נסיעות מתייחסת לכיסוי המגן על המבוטח במקרה שבו הוא אחראי לנזק שנגרם לצד שלישי, בין אם מדובר בנזק לרכוש או נזק גופני לאדם אחר במהלך שהותם בחו"ל. הכיסוי נועד לסייע במצבים בהם מוגשת תביעה כנגד המבוטח בגין אחריותו לנזק.
                        לדוגמה: <br />
                        נזק גופני: אם המבוטח פוגע בטעות באדם אחר (לדוגמה, מעורב בתאונה או גרם לפציעה) ונדרש לשלם פיצויים עבור הטיפול הרפואי או ההשלכות הנלוות. <br />
                        נזק לרכוש: אם המבוטח גורם נזק לרכוש של צד שלישי (כמו הרס פריטים במלון, גרימת נזק לרכב שכור או לחפצים של אדם אחר). <br />
                        הכיסוי לחבות צד שלישי יכלול לרוב: <br />
                        פיצויים כספיים לצד השלישי: תשלום הפיצויים הנדרשים בגין הנזק שנגרם, בהתאם לתנאי הפוליסה. <br />
                        הוצאות משפטיות: כיסוי להוצאות משפטיות במידה והמקרה מגיע לתביעה משפטית, כולל ייעוץ משפטי וייצוג. <br />
                        כיסוי זה חשוב במיוחד לנסיעות שבהן קיים סיכון מוגבר לאינטראקציות עם אחרים, כמו פעילויות ספורט, נהיגה בחו"ל, או השתתפות באירועים ציבוריים.

                    </div>
                </div>
            </div>
        </div>



    </div>


    <!-- Custom JavaScript file -->
    <script src="Scripts/prices.js"></script>
    <!-- Bootstrap JavaScript libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    @*     <script src="Scripts/test.js"></script> *@

</body>
</html>